<footer class="footer">
    <div class="container">
        <div class="logo">
            <img src="/assets/image/Technologies LogoGF 2 (1).png" alt="" />
        </div>

        <div class="row">
            <div class="footer-col">
                <h2>Contact Us.</h2>
                 <p>16,Kafayat Abdulrazaq, Lekki Phase 1, Lagos, Nigeria.</p>
                 <p>info@reventtechnologies.com</p>

                 <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
                 </div>
            </div>

            <div class="footer-col">
                <h2></h2>
            </div>
        </div>
    </div>
</footer>
