<footer class="footer">
    <div class="container">
        <div class="logo">
            <img src="/assets/image/Technologies LogoGF 2 (1).png" alt="" />
        </div>

        <div class="row">
            <div class="footer-col">
                <h2>Contact Us.</h2>
                 <p>16,Kafayat Abdulrazaq, Lekki Phase 1, Lagos, Nigeria.</p>
                 <p>info@reventtechnologies.com</p>
            </div>

            <div class="footer-col">
                <h2></h2>
            </div>
        </div>
    </div>
</footer>
