<section id="home">
  <div class="section-1">
    <div class="  heading1">
      <h1 class="zns-heading-1 fw-500 head-1">You think it,</h1>
      <h2 class="zns-heading-1 fw-500 head-2">We Build it.</h2>

     <p class="zns-para-1 fw-300 paragraph">
        Let help you at every stage of your product development lifecycle.
        Conquer the market with a truly invested software technology team by
        your side.
      </p>

      
    <button matRipple class="btn zns-btn-primary zns-btn-md zns-btn-xl ">Let's Talk</button>
    </div>


     <div class="container">
  

     </div>


    <p>Explore all Service</p>
  </div>

  

  <div class="image">

    <!-- <img src="assets/image/pic1.png" /> -->
  </div>
</section>
