@use "/src/app/@core/styles/abstracts/media-query" as *;

#home {
  .image {
    background: url("/assets/image/pic1.png");
    height: 50rem;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 100%;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  //   width: 100%;

  margin: 0 auto;
  position: relative;

  .section-1 {
    width: 28.76rem;
    display: inline-flex;
    flex-direction: column;
    gap: 3.62rem;

    margin-left: 12rem;

    @include zns-media-query-max(zns-lg) {
      margin-left: 8rem;
    }
  }
  .heading1 {
    width: 95%;
   
  }

  .head-1,
  .head-2 {
    padding: 0;
    margin: 0;
    line-height: 3.5rem;
  }

  .btn {
    width: 16.1875rem;
    border-radius: 5rem;
    margin-top: 3.5rem;
    border: none;
  }

  .image {
    width: 80%;

    img {
      width: 100%;
      height: auto;
    }
  }
}
