/* You can add global styles to this file, and also import other style files */
@use "./app/@core/styles/abstracts/" as *;
@use "./app/@core/styles/components/" as *;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}
// * *::before,
// *::after {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
// html {
//   scroll-behavior: smooth;
// }
// body {
//   margin: 0;
//   padding: 0;
// }
